*.jpg
*.exe
*.png
*.bmp
*.pyc
*.pdf
*.dll
*.pdf
*.VC.db
*.lib
*.obj
*.vcxproj
*.BMP
*.vs
*.exp
*.vcxproj.filters
*.vcxproj.user
ipch/
*.VC.VC.opendb
tests/data
*.xlsx
SDK/MindPyScript/MindPyCEx/VSProject
.idea/workspace.xml
IMG/GIOF/
IMG/GIOF1/
IMG/MIND/
IMG/RZGREEB/
IMG/black/
IMG/octagon/
IMG/rep/
IMG/sharp/
IMG/simple/
SDK/Lib/
SDK/MindPyScript/MindPyCEx/Lib/
SDK/OceanOpticsScript/
__pycache__/
pattern/__pycache__/
tests/__pycache__/
util/reporter/
tests/RI
SDK/MindPyScript/test
