*.jpg
*.exe
*.png
*.bmp
*.cdr
*.pyc
save
*.pdf
*.dll
*.pdf
*.VC.db
*.lib
*.obj
*.vcxproj
*.BMP
Debug/
Release/
obj/
*.vs
*.exp
*.vcxproj.filters
*.vcxproj.user
ipch/
*.VC.VC.opendb
tests/data
*.xlsx
SDK/MindPyScript/MindPyCEx/VSProject
