testlog.log
*.db
*.jpg
.cache
.idea
*.exe
*.png
*.bmp
*.pyc
*.pdf
*.dll
t.html
*.pickle
*.VC.db
*.lib
*.obj
*.vcxproj
*.BMP
*.vs
*.exp
VSProject
*.vcxproj.filters
*.vcxproj.user
ipch/
*.VC.VC.opendb
tests/data
*.xlsx

.idea/workspace.xml
IMG
SDK/Lib/
SDK/MindPyScript/MindPyCEx/Lib/
SDK/OceanOpticsScript/VS
build
Release
__pycache__
util/reporter/
tests/RI

SDK/MindPyScript/test

/IMGold/
/testlog.log
/simulator/tests/temp.csv


/dist/
/setting/testlog.log
!/IMG/md/
/util/loadfile.py
!/util/loadfile.py
