table {
            border-collapse: collapse;
            width:70%;
            border:1;
            cellspacing:1;
            cellpadding:0;
            bgcolor: #000000;
            border-color: #999999;
}
table, td, th {
            border: 1px solid black;
}
td{
   width:20%;
   font-size:15px;
}